APP_ENV=testing

# Отдельная база данных (SQL)
DB_CONNECTION=mysql
DB_DATABASE=laravel_test
DB_USERNAME=root
DB_PASSWORD=root

# Отдельный кеш (Redis)
CACHE_STORE=redis
REDIS_CACHE_DB=2
REDIS_PREFIX=test_
